<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
	</head>
	<body>
		<div id="LoadingBar">页面加载中，请等待...</div> 
		<div class="mui-content">
			<img src="http://pic.kakehotels.com/upload/kake/1865/1385/591ad1c95e105.jpg" />
			<img src="http://pic.kakehotels.com/upload/kake/1865/1385/591ad1c95e105.jpg" />
		</div>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript">
			//监听加载状态改变
			document.onreadystatechange = completeLoading;
			//加载状态为complete时移除loading效果
			function completeLoading() {
			    if (document.readyState == "complete") {
			        var loadingMask = document.getElementById('LoadingBar');
			        loadingMask.style.display = "none";  
			    }
			}
		</script>
	</body>

</html>